{% assign strings = site.data.strings[page.lang] %}

<footer class="site-footer" role="contentinfo">
    <div class="col-10-container">
        <div class="footer-content-container">
            <div class="footer-logo">
                <img src="/img/branding/myLogo.svg" alt="My Logo">
            </div>
            <div class="footer-company-links">
                <!-- <div class="footer-col">
                    <h4>Approach</h4>
                    <ul>
                        <li><a href="/approach">White Paper</a></li>
                    </ul>
                </div> -->
                <div class="footer-col">
                    <h4>Technology</h4>
                    <ul>
                        <li><a href="/greenpaper">Green Paper</a></li>
                        <li><a href="https://docs.chia.net/docs/03consensus/consensus_intro/" target="_blank">Consensus 1.1</a></li>
                    </ul>
                </div>
                <!-- <div class="footer-col">
                    <h4>Documentation</h4>
                    <ul>
                        <li><a href="https://docs.chia.net/" target="_blank">Chia Docs</a></li>
                        <li><a href="https://chialisp.com" target="_blank">Chialisp</a></li>
                        <li><a href="https://github.com/Chia-Network/chia-blockchain/wiki" target="_blank">Chia Blockchain Wiki</a></li>
                        <li><a href="/grants">Cultivation Grant Program</a></li>
                        <li><a href="https://github.com/Chia-Network/chia-blockchain/wiki/FAQ" target="_blank">Chia Technical FAQ</a></li>
                        <li><a href="/faq">Chia Network Inc. FAQ</a></li>

                    </ul>
                </div> -->
                <div class="footer-col">
                    <h4>Personal</h4>
                    <ul>
                        <li><a href="/about">About</a></li>
                        <li><a href="/blog">Blog</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
                <div class="footer-col social-links">
                    <ul>
                        <li>
                            <img class="chia-icon social-icon" src="/img/social/github-white.svg" alt="Github">
                            <a href="https://github.com/{{ site.data.contact.github_username }}" target="_blank" rel="noreferrer noopener">Github</a>
                        </li>
                        <li>
                            <img class="chia-icon social-icon" src="/img/social/reddit-white.svg" alt="Youtube">
                            <a href="https://reddit.com/r/{{ site.data.contact.reddit }}" target="_blank" rel="noreferrer noopener">Youtube</a>
                        </li>
                        <li>
                            <img class="chia-icon social-icon" src="/img/social/linkedin-white.svg" alt="LinkedIn">
                            <a href="https://www.linkedin.com/company/{{ site.data.contact.linkedin_username }}" target="_blank" target="_blank" rel="noreferrer noopener">LinkedIn</a>
                        </li>
                        <li>
                            <img class="chia-icon social-icon" src="/img/social/keybase-white.svg" alt="Pinterest">
                            <a href="{{ site.data.contact.keybase_team_page }}" target="_blank" rel="noreferrer noopener">Pinterest</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div>
                <p><small> Copyright © Clair C. {{ site.time | date: '%Y' }} | <a href="/terms">Terms of Use</a> | <a href="/trademarks">Trademarks</a> | <a href="/intellectual-property">Intellectual Property</a> </small></p>
            </div>
        </div>
    </div>
</footer>
