---
layout: default
---

{% include navigation.html active="about" %}
{% assign strings = site.data.strings[page.lang] %}

<div class="pg-title">
    <div class="col-10-container">
        <h1>{{ strings.about_title }}</h1>
    </div>
</div>
<div class="white-bg content-padding">
    <!-- <div class="col-8-container txt-col-blocks">
        <div class="full-width-col">
            <p class="lrg-txt">
                Everyday Life, Albums of Special Events, Secret
            </p>
        </div>
    </div> -->


    <!-- <div class="white-bg content-padding"> -->
    <div class="col-10-container" style="text-align: center">
        <h2>Some Things I Like</h2>
    </div>
    <div class="team-members">
        <div class="likes">
            <img src="/img/likes/3d-stickers.jpg" alt="3D Stickers">
            <span class="like-name">3D Stickers </span>
            <span class="like-desc">Purchased Summer of 2025 ᴄɴ </span>
        </div>

        <div class="likes">
            <img src="/img/likes/sony-camera.jpg" alt="Camera">
            <span class="like-name">Camera</span>
            <span class="like-desc">Dug from the Depths Summer of 2026 </span>
        </div>

        <div class="likes">
            <img src="/img/likes/video-games.jpg" alt="Horror">
            <span class="like-name">Horror</span>
            <span class="like-desc">Purchased Summer of 2025 ᴄɴ </span>
        </div>

        <div class="likes">
            <img src="/img/likes/chinese-food.jpg" alt="Chinese Store">
            <span class="like-name">Chinese Food</span>
            <span class="like-desc"> </span>
        </div>

        <div class="likes">
            <img src="/img/likes/shaved-ice.jpg" alt="Shaved Ice">
            <span class="like-name">Shaved Ice 碎碎冰</span>
            <span class="like-desc">Purchased Summer of 2025 ᴄɴ </span>
        </div>

        <div class="likes">
            <img src="/img/likes/fruits.jpg" alt="Fruits">
            <span class="like-name">Fruits</span>
            <span class="like-desc">Purchased Summer of 2025 ᴄɴ </span>
        </div>

        <div class="likes">
            <img src="/img/likes/barley-tea.jpg" alt="Barley Tea">
            <span class=" like-name">Barley Tea + Peach</span>
            <span class="like-desc">Combination Discovered 9/5/26 </span>
        </div>


        <div class="likes">
            <img src="/img/likes/rain-3.jpg" alt="Rain">
            <span class="like-name">Rain</span>
            <span class="like-desc">Purchased Summer of 2025 ᴄɴ </span>
        </div>

        <div class="likes">
            <a href="/secret/"> <img src="/img/headshots/headshot-placeholder_@2x.png" alt="Secret Link"></a>
            <span class="like-name">Chicken</span>
            <span class="like-desc">Purchased Summer of 2025 ᴄɴ </span>
        </div>

    </div>
</div>




<div class="white-bg content-padding">
    <div class="col-8-container txt-col-blocks">
        <div class="full-width-col">
            <p class="lrg-txt">
            <div class="col-10-container" style="text-align: center">
                <h2>Media Albums of Special Experiences</h2>
            </div>
            <div class="col-10-container" style="text-align: center">
                <h2><a class="button primary-button" href="/albums">Albums</a></h2>
            </div>
            </p>
        </div>
    </div>
</div>
