---
layout: default
---

{% include navigation.html active="about" %}
{% assign strings = site.data.strings[page.lang] %}

<!-- <div class="pg-title">
    <div class="col-10-container">
        <h1>{{ strings.about_title }}</h1>
    </div>
</div>

<div class="white-bg content-padding">
    <div class="col-8-container txt-col-blocks">
        <div class="full-width-col">
            {{ strings.about_description | markdownify }}
        </div>
    </div>
</div> -->

<div class="light-bg">
    <div class="col-10-container featured-content soft-shadow">
        <div class="featured-content-txt-container">
            <div class="featured-content-txt" style="padding-bottom: 35px;">
                <h2>Clair Cheng</h2>
                <p>
                    Chia Network was founded by the creator of BitTorrent, <a href="/profiles/bram-cohen">Bram Cohen</a>. It also includes executive leadership from the former founder and CEO of eMusic.com and Vindicia, <a href="/profiles/gene-hoffman">Gene Hoffman</a>. The Chia blockchain has an active open source developer community with many contributions to the codebase. Many individuals contribute towards the Chia blockchain in areas which include research, peer reviews, development, testing, documentation, and translation.
                </p>
                <p><a class="button primary-button" href="/team">Team Page</a></p>
            </div>
        </div>
        <div class="featured-content-img">
            <img src="/img/abstract/abstract-geometric-pattern-04_@2x.png" alt="Abstract Geometric Pattern">
        </div>
    </div>
</div>

<div class="white-bg content-padding">
    <div class="col-10-container featured-section">
        <h2>Chonky Moments</h2>
    </div>
    <div class="team-members">
        <div class="team-member">
            <a href="/profiles/bram-cohen"><img src="/img/headshots/bram-cohen_@2x.jpg" alt="Bram Cohen"></a>
            <span class="team-name">Bram Cohen</span>
            <span class="team-title">Director, Chairman, Chief Executive Officer and Founder</span>
        </div>

        <div class="team-member">
            <img src="/img/headshots/gene-hoffman_@2x.jpg" alt="Gene Hoffman"></a>
        </div>

        <div class="team-member">
            <img src="/img/headshots/misha-graboi_@2x.png" alt="Misha Graboi"></a>
        </div>

        <div class="team-member">
            <img src="/img/headshots/alison-van-houten.jpeg" alt="Allison Van Houten"></a>
        </div>

        <div class="team-member">
            <img src="/img/headshots/vishal-kapoor_@2x.jpg" alt="Vishal Kapoor"></a>
        </div>

        <div class="team-member">
            <img src="/img/headshots/william-blanke_@2x.png" alt="William Blanke"></a>
        </div>
        
        <div class="team-member">
            <img src="/img/headshots/thomas-chow.jpg" alt="Thomas Chow""></a>
        </div>

        <div class="team-member">
            <img src="/img/headshots/steve-booth_@2x.png" alt="Steve Booth"></a>
        </div>

        <div class="team-member">
            <img src="/img/headshots/j-eckert_@2x.png" alt="J. Eckert"></a>
        </div>

        <div class="team-member">
            <img src="/img/headshots/ken-griggs_@2x.png" alt="Ken Griggs"></a>
        </div>

        <div class="team-member">
            <img src="/img/headshots/paul-hainsworth_@2x.png" alt="Paul Hainsworth"></a>
        </div>

        <div class="team-member">
            <img src="/img/headshots/jonmichael-hands_@2x.png" alt="Jonmichael Hands"></a>
        </div>

        <div class="team-member">
            <img src="/img/headshots/russell-saito_@2x.png" alt="Russell Saito"></a>
        </div>

        <div class="team-member">
            <img src="/img/headshots/ali-shadle_@2x.png" alt="Ali Shadle"></a>
        </div>

        <div class="team-member">
            <img src="/img/headshots/richard-tsao_@2x.png" alt="Richard Tsao"></a>
        </div>
    </div>
</div>

