---
layout: default
---

{% include navigation.html active="albums" %}
{% assign strings = site.data.strings[page.lang] %}

<div class="pg-title">
    <div class="col-10-container">
        <h1> Albums </h1>
    </div>
</div>

<div class="white-bg content-padding">
    <div class="team-stat-items">
        <div class="team-stat-item soft-shadow">
            <p class="team-stat-title"># of Albums</p>
            <p class="team-stat-content">12</p>
        </div>
        <div class="team-stat-item soft-shadow">
            <p class="team-stat-title">Places Visited</p>
            <p class="team-stat-content">8</p>
        </div>
        <div class="team-stat-item soft-shadow">
            <p class="team-stat-title">Milestones Documented</p>
            <p class="team-stat-content">2</p>
        </div>
    </div>
    <div class="team-page-members">
        <div class="team-member">
            <a href="/albums/23-florida"><img src="/img/headshots/headshot-placeholder_@2x.png" alt="Bram Cohen"></a>
            <span class="team-name">Florida</span>
            <span class="team-title">May 2023, Family</span>
        </div>

        <div class="team-member">
            <a href="/albums/23-tennessee"><img src="/img/headshots/headshot-placeholder_@2x.png" alt="Gene Hoffman"></a>
            <span class="team-name">Tennessee</span>
            <span class="team-title">July 2023, Self</span>
        </div>

        <div class="team-member">
            <a href="/albums/24-shanghai"><img src="/img/headshots/headshot-placeholder_@2x.png" alt="Misha Graboi"></a>
            <span class="team-name">Shanghai</span>
            <span class="team-title">June 2024, Family</span>
        </div>
        
        <div class="team-member">
            <a href="/albums/24-putuoshan"><img src="/img/headshots/headshot-placeholder_@2x.png" alt="Allison Van Houten"></a>
            <span class="team-name"> Pu Tuo Shan </span>
            <span class="team-title">June 2024, Family</span>
        </div>
        
        <div class="team-member">
            <a href="/albums/24-china"><img src="/img/headshots/headshot-placeholder_@2x.png" alt="Vishal Kapoor"></a>
            <span class="team-name">China</span>
            <span class="team-title">June 2024, Family</span>
        </div>

        <div class="team-member">
            <a href="/albums/24-tennessee"><img src="/img/headshots/headshot-placeholder_@2x.png" alt="William Blanke"></a>
            <span class="team-name">Tennessee </span>
            <span class="team-title"> July 2024, Self</span>
        </div>
        
        <div class="team-member">
            <a href="/albums/russell-saito"><img src="/img/headshots/headshot-placeholder_@2x.png" alt="Russell Saito"></a>
            <span class="team-name">State College</span>
            <span class="team-title">April 2025, Friends </span>
        </div>

        <div class="team-member">
            <a href="/albums/25-shanghai"><img src="/img/headshots/headshot-placeholder_@2x.png" alt="Thomas Chow"></a>
            <span class="team-name">Shanghai</span>
            <span class="team-title">June 2025, Family</span>
        </div>

        <div class="team-member">
            <a href="/albums/25-beijing"><img src="/img/headshots/headshot-placeholder_@2x.png" alt="Steve Booth"></a>
            <span class="team-name">Beijing</span>
            <span class="team-title">June 2025, Family</span>
        </div>

        <div class="team-member">
            <a href="/albums/25-zhangjiajie"><img src="/img/headshots/headshot-placeholder_@2x.png" alt="J. Eckert"></a>
            <span class="team-name">Zhang Jia Jie</span>
            <span class="team-title">June 2025, Family</span>
        </div>

        <div class="team-member">
            <a href="/albums/25-china"><img src="/img/headshots/headshot-placeholder_@2x.png" alt="Ken Griggs"></a>
            <span class="team-name">China</span>
            <span class="team-title">June 2025, Family</span>
        </div>

        <div class="team-member">
            <a href="/albums/25-princeton"><img src="/img/headshots/headshot-placeholder_@2x.png" alt="Paul Hainsworth"></a>
            <span class="team-name">Princeton</span>
            <span class="team-title">July 2025, Self</span>
        </div>

        <div class="team-member">
            <a href="/albums/26-pittsburgh"><img src="/img/headshots/headshot-placeholder_@2x.png" alt="Jonmichael Hands"></a>
            <span class="team-name">Pittsburgh</span>
            <span class="team-title">July 2026, Self</span>
        </div>

        <div class="team-member">
            <a href="/albums/26-pasedena"><img src="/img/headshots/headshot-placeholder_@2x.png" alt="Ali Shadle"></a>
            <span class="team-name">Pasedena</span>
            <span class="team-title">October 2026, Self</span>
        </div>

        <div class="team-member">
            <a href="/albums/ali-shadle"><img src="/img/headshots/headshot-placeholder_@2x.png" alt="Ali Shadle"></a>
            <span class="team-name">Halloween</span>
            <span class="team-title">October 2026, Self</span>
        </div>

        <div class="team-member">
            <a href="/albums/ali-shadle"><img src="/img/headshots/headshot-placeholder_@2x.png" alt="Ali Shadle"></a>
            <span class="team-name">Graduation</span>
            <span class="team-title">June 2026, Self</span>
        </div>

        <!-- <div class="team-member">
            <a href="/profiles/richard-tsao"><img src="/img/headshots/headshot-placeholder_@2x.png" alt="Richard Tsao"></a>
            <span class="team-name">Richard Tsao</span>
            <span class="team-title">VP of Business Development</span>
        </div> -->
    </div>
</div>