---
layout: default
---

{% assign strings = site.data.strings[page.lang] %}

{% include navigation.html %}
<div class="light-bg">
    <div class="col-10-container featured-content soft-shadow">
        <div class="featured-content-txt-container">
            <div class="featured-content-txt" style="padding-bottom: 35px;">
                <h2>Clair Cheng</h2>
                <p>
                    Chia Network was founded by the creator of BitTorrent, <a href="/profiles/bram-cohen">Bram
                        Cohen</a>. It also includes executive leadership from the former founder and CEO of
                    eMusic.com and Vindicia, <a href="/profiles/gene-hoffman">Gene Hoffman</a>. The Chia blockchain
                    has an active open source developer community with many contributions to the codebase. Many
                    individuals contribute towards the Chia blockchain in areas which include research, peer
                    reviews, development, testing, documentation, and translation.
                </p>
            </div>
        </div>
        <div class="featured-content-img">
            <img src="/img/abstract/abstract-geometric-pattern-04_@2x.png" alt="Abstract Geometric Pattern">
        </div>
    </div>
</div>


<!-- <div class="homepad col-12-container">
    <div class="homepad-layout-container">
        <div class="homepad-content">
            <p> </p>
            <h1> Clair's Den </h1>
        </div>
    </div>
</div> -->



<div class="white-bg content-padding chia-value-props">
    <div class="col-10-container">
        <div class="value-props-grid">
            <div class="value-prop">
                <h3>My CV</h3>
                <p>
                    Link to offers lowk
                <p><a class="button primary-button" href="/CV">My CV</a></p>
                <p class="chia-cta"><a href="/approach" class="button outline-black-button">Learn More</a></p>
                </p>
            </div>
            <div class="value-prop soft-shadow">
                <img src="/img/ui-icons/shield-lock.svg" class="value-prop-icon" alt="Shield Icon">
                <h3>Facilitating Imagination</h3>
                <p>Chia is the most decentralized blockchain ever with approximately 200,000 nodes employing the first
                    new Nakamoto Consensus since 2009. The Chialisp on chain programming environment is fully featured
                    while being far more auditable and secure.</p>
                <p class="chia-cta"><a href="https://chialisp.com">Learn More <img src="/img/ui-icons/arrow-right.svg"
                            class="chia-icon ui-icon"></a></p>
            </div>
            <div class="value-prop soft-shadow">
                <img src="/img/ui-icons/check-badge.svg" class="value-prop-icon" alt="Check Badge Icon">
                <h3>Efficiency, Improving QOL</h3>
                <p>Chia believes that in order to deliver on the promise of the next generation blockchains, we must be
                    regulatory compliant. It is our stated goal to become a public reporting company subject to the <a
                        href="https://en.wikipedia.org/wiki/Securities_Act_of_1933">Securities Act of 1933</a>. Chia's
                    native currency, <a href="https://www.coingecko.com/en/coins/chia">XCH or chia</a>, has never been
                    sold by Chia Network for money and we believe it will be regulated as a commodity by the <a
                        href="https://www.cftc.gov/">CFTC</a>.</p>
            </div>
            <div class="value-prop soft-shadow">
                <img src="/img/ui-icons/recycle.svg" class="value-prop-icon" alt="Recycle Icon">
                <h3>Sharing Confidence</h3>
                <p>With its innovative Proof Of Space and Time consensus, Chia uses 0.16% of the <a
                        href="https://chiapower.org">annual energy consumption</a> of Bitcoin, and 0.36% of Ethereum.
                    Chia is part of the <a href="https://circulardrives.org/">Circular Drive Initiative</a> that reduces
                    e-waste through the secure reuse of storage, promoting the second use of hard drives for Chia
                    farming.</p>
            </div>
        </div>
    </div>
</div>

