---
layout: default
---

{% assign strings = site.data.strings[page.lang] %}

{% include navigation.html %}
<div class="light-bg">
    <div class="col-10-container featured-content soft-shadow">
        <div class="featured-content-txt-container">
            <div class="featured-content-txt" style="padding-top: 150px; " style="padding-bottom: 35px;">
                <h2>Clair C.</h2>
                <p>
                    A senior in high school, Clair is excited for the unexpected.<br><br>

                    Her love for aesthetic, stories, and imagination led her to form ChickenGoBoom Entertainment.
                    DigiHand is her first software creation.
                </p>
            </div>
        </div>
        <div class="featured-content-img">
            <img src="/img/headshots/homemain-img.JPG" alt="Home Page Photo" style="
      width: 100%;
      height: 510px;
      object-fit: cover;
      object-position: center 50%; ">
        </div>
    </div>
</div>


<!-- <div class="homepad col-12-container">
    <div class="homepad-layout-container">
        <div class="homepad-content">
            <p> </p>
            <h1> Clair's Den </h1>
        </div>
    </div>
</div> -->



<div class="white-bg content-padding chia-value-props">
    <div class="col-10-container">
        <div class="value-props-grid">
            <div class="value-prop center-box">
                <h3>Relevant Professional Info</h3>
                <p><a class="button primary-button" href="/CV">Complete CV</a></p>
                <p class="chia-cta"><a href="/CV" class="button outline-green-button">Resume</a></p>
            </div>
            <div class="value-prop soft-shadow">
                <img src="/img/ui-icons/shield-lock.svg" class="value-prop-icon" alt="Shield Icon">
                <h3>Improving Efficiency</h3>
                <p>DigiHand preserves your ideas, turning written words into digital artifacts.</p>
                <p class="chia-cta"><a href="/download">Learn More <img src="/img/ui-icons/arrow-right.svg"
                            class="chia-icon ui-icon"></a></p>
            </div>
            <div class="value-prop soft-shadow">
                <img src="/img/ui-icons/check-badge.svg" class="value-prop-icon" alt="Check Badge Icon">
                <h3>Spreading Imagination</h3>
                <p> Our <a href="/blog">blog</a> shares original worlds and stories, and recommendations for other
                    works.


                <p class="chia-cta"><a href="/blog">Read Here <img src="/img/ui-icons/arrow-right.svg"
                            class="chia-icon ui-icon"></a></p> <!--yt link -->
            </div>
            <div class="value-prop soft-shadow">
                <img src="/img/ui-icons/recycle.svg" class="value-prop-icon" alt="Recycle Icon">
                <h3>Documenting Life</h3>
                <p> Through <a href="/publications/">self-publications</a>, <a
                        href="https://youtube.com/{{ site.data.contact.youtube_username }}">videos</a>, and <a
                        href="/albums/"> photo albums </a> watch a life unfold.</p>

                <p class="chia-cta"><a href="https://youtube.com/{{ site.data.contact.youtube_username }}"
                        target="_blank" rel="noreferrer noopener">Watch Here <img src="/img/ui-icons/arrow-right.svg"
                            class="chia-icon ui-icon"></a></p>
            </div>
        </div>
    </div>
</div>

<!-- use this for the resume button! -->
<!-- 
<div class="light-bg">
    <div class="col-10-container featured-content soft-shadow">
        <div class="featured-content-txt-container">
            <div class="featured-content-txt">
                <h2>Read the Business Whitepaper</h2>
                <p>
                    The business whitepaper outlines how we plan to go to market, how we plan to use the corporate form to do that, and how we intend to use our pre-farm. It also explains the tokenomics of Chia coins and walks through the controls we are putting in place to assure that the pre-farm is a secure and predictable tool that we will use to finance development and growth and ultimately give everyone a chance to own part of the pre-farm. Our plans and structure are unique and touch on a lot of different areas of expertise including enterprise software sales, blockchain project governance, and securities laws that we must navigate to have the resources needed to drive the adoption of the Chia blockchain into the world's financial infrastructure.
                </p>
                <p><a class="button outline-green-button" href="#">Business Whitepaper</a></p>
            </div>
        </div>
        <div class="featured-content-img">
            <img src="/img/astract/abstract-geometric-shapes-01_@2x.png" alt="Abstract Geometric Shapes">
        </div>
    </div>
</div> -->