---
layout: default
---

{% assign strings = site.data.strings[page.lang] %}

{% include navigation.html %}
<div class="light-bg">
    <div class="col-10-container featured-content soft-shadow">
        <div class="featured-content-txt-container">
            <div class="featured-content-txt" style="padding-top: 150px; " style="padding-bottom: 35px;">
                <h2>Clair Cheng</h2>
                <p>
                    Currently a senior in high school, Clair does not have one monolithic achievement to list for her
                    first sentence. Maybe she thinks it's limiting to do so. <br><br>

                    Her attraction for beauty, stories, and imagination led her to form ChickenGoBoom Entertainment.
                    DigiHand is her first software creation.


                </p>
            </div>
        </div>
        <div class="featured-content-img">
            <img src="/img/headshots/clair-sitting.JPG" alt="Abstract Geometric Pattern">
        </div>
    </div>
</div>


<!-- <div class="homepad col-12-container">
    <div class="homepad-layout-container">
        <div class="homepad-content">
            <p> </p>
            <h1> Clair's Den </h1>
        </div>
    </div>
</div> -->



<div class="white-bg content-padding chia-value-props">
    <div class="col-10-container">
        <div class="value-props-grid">
            <div class="value-prop center-box">
                <h3>Relevant Professional Info</h3>
                <p><a class="button primary-button" href="/CV">Complete CV</a></p>
                <p class="chia-cta"><a href="/approach" class="button outline-green-button">Resume</a></p>
            </div>
            <div class="value-prop soft-shadow">
                <img src="/img/ui-icons/shield-lock.svg" class="value-prop-icon" alt="Shield Icon">
                <h3>Facilitating Imagination</h3>
                <p>DigiHand helps turn words into digital dalskjf;lsd make things easier.</p>
                <p class="chia-cta"><a href="https://chialisp.com">Learn More <img src="/img/ui-icons/arrow-right.svg"
                            class="chia-icon ui-icon"></a></p>
            </div>
            <div class="value-prop soft-shadow">
                <img src="/img/ui-icons/check-badge.svg" class="value-prop-icon" alt="Check Badge Icon">
                <h3>Efficiency, Improving QOL</h3>
                <p> It is our stated goal to become a public reporting company subject to the <a
                        href="https://en.wikipedia.org/wiki/Securities_Act_of_1933">Securities Act of 1933</a>. Chia's
                    native currency, <a href="https://www.coingecko.com/en/coins/chia">XCH or chia</a>, has never been
                    sold by Chia Network for money and we believe it will be regulated as a commodity by the <a
                        href="https://www.cftc.gov/">CFTC</a>.</p>
            </div>
            <div class="value-prop soft-shadow">
                <img src="/img/ui-icons/recycle.svg" class="value-prop-icon" alt="Recycle Icon">
                <h3>Sharing Confidence</h3>
                <p> Through <a
                        href="https://chiapower.org">wcnderous, </a> and her managment company <a href="https://circulardrives.org/">ChickenGoBoom Entertainment</a> mention all 3 channels or smth.</p>
            </div>
        </div>
    </div>
</div>