---
layout: default
---

{% include navigation.html active="projects" %}

{% assign strings = site.data.strings[page.lang] %}

<div class="pg-title">
    <div class="col-10-container">
        <h1>Projects</h1>
    </div>
</div>

<div class="white-bg content-padding">
    <div class="col-8-container txt-col-blocks">
        <div class="full-width-col">
            <p class="lrg-txt">
               We take a disciplined to delivering on the promise that blockchains, cryptocurrency, and the Internet of Markets™ will create. The Chia Business White Paper goes into depth on the transformative impact that programmable digital money is going to have in finance, wealth, safety, digital security, and ultimately the entire concept of trust.    
            </p>
            <p><a class="button primary-button" href="/whitepaper/" style="margin-top:24px">Business White Paper</a></p>
        </div>
    </div>
</div>

<div class="light-bg">
    <div class="col-10-container featured-content soft-shadow">
        <div class="featured-content-txt-container">
            <div class="featured-content-txt" style="padding-bottom: 35px;">
                <h2>Team</h2>
                <p>
                    Chia Network was founded by the creator of BitTorrent, <a href="/profiles/bram-cohen">Bram Cohen</a>. It also includes executive leadership from the former founder and CEO of eMusic.com and Vindicia, <a href="/profiles/gene-hoffman">Gene Hoffman</a>. The Chia blockchain has an active open source developer community with many contributions to the codebase. Many individuals contribute towards the Chia blockchain in areas which include research, peer reviews, development, testing, documentation, and translation.
                </p>
                <p><a class="button primary-button" href="/team">Team Page</a></p>
            </div>
        </div>
        <div class="featured-content-img">
            <img src="/img/abstract/abstract-geometric-pattern-04_@2x.png" alt="Abstract Geometric Pattern">
        </div>
    </div>
</div>

<div class="white-bg content-padding">
    <div class="col-10-container">
        <div class="download-extras">
            <div class="download-extra-option soft-shadow">
                <h3>Chia Business White Paper Discussion - Asia</h3>
                <p>
                    When: Feb 11, 2021 04:00 PM Pacific Time (US and Canada)
                </p>
                <p>
                    Watch <a href="https://youtu.be/9P0vaux2h6o" target="_blank">replay on Youtube</a>.
                </p>
            </div>

            <div class="download-extra-option soft-shadow">
                <h3>Chia Business White Paper Discussion - Europe</h3>
                <p>
                    When: Feb 12, 2021 10:00 AM Pacific Time (US and Canada)
                </p>
                <p>
                    Watch <a href="https://youtu.be/2uvlop-hlio" target="_blank">replay on Youtube</a>.
                </p>
            </div>
        </div>
    </div>
</div>


</div>
