---
layout: default
---

{% include navigation.html active="projects" %}

{% assign strings = site.data.strings[page.lang] %}


<div class="pg-title">
</div>

<div class="light-bg">
    <div class="col-10-container featured-content soft-shadow">
        <div class="featured-content-txt-container">
            <div class="featured-content-txt">
                <h2>DigiHand</h2>
                <p>
                    Turning Chicken Scratch to Text
                </p>
                <p>
                    DigiHand is an innovative handwriting digitization platform that is powerful and easy to use, converting scanned PDFs of handwriting into digital text. After selecting a model, utilize its intuitive side-by-side editor to adjust raw output. Learn more:
                </p>
                    <p><a class="button primary-button" href="https://github.com/theChickenC/DigiHand" target="_blank">Download</a></p>
            </div>
        </div>
        <div class="featured-content-img">
            <img src="/img/abstract/abstract-geometric-pattern-03_@2x.png" alt="Abstract Geometric Pattern">
        </div>
    </div>
</div>




<!-- <div class="light-bg">
    <div class="col-10-container featured-content soft-shadow">
        <div class="featured-content-txt-container">
            <div class="featured-content-txt">
                <h2>stylette</h2>
                <p>
                    Make your closet digital for easy outfit planning, not to mention a generator to do it for you!
                </p>
                    <p><a class="button primary-button" href="/download" target="_blank">Download</a></p>
            </div>
        </div>
        <div class="featured-content-img">
            <img src="/img/abstract/abstract-geometric-pattern-03_@2x.png" alt="Abstract Geometric Pattern">
        </div>
    </div>
</div> -->

</div>
