---
layout: default
---

{% include navigation.html active="grants" %}

{% assign strings = site.data.strings[page.lang] %}

<!-- <div class="pg-title">
    <div class="col-10-container">
        <h1>Publications</h1>
    </div>
</div> -->

<div class="superhero col-12-container">
    <div class="superhero-bg-container">
        <div class="superhero-layout-container">
            <div class="chia-slides">
                <div class="superhero-content">
                        <h1>Journal #1</h1>
                        <p> Insight into Clair from 6th to 9th grade; drawings, writing, to-do lists</p>
                        <p class="chia-cta"><a href="/approach" class="button outline-white-button">Purchase</a></p>
                </div>
                <div class="superhero-content">
                        <h1>Journal #2</h1>
                        <p>Clair in 2024 Spring.</p>
                        <p class="chia-cta"><a href="https://www.youtube.com/watch?v=cXwTV2bAnvI" target="_blank" class="button outline-white-button">Purchase</a></p>
                </div>
                <div class="superhero-content">
                        <h1>My Adventures On SkyRealms</h1>
                        <p>A young girl experiences an unexpected journey full of drama and xxx in a new world.</p>
                        <p class="chia-cta"><a href="https://pressroom.ifc.org/all/pages/PressDetail.aspx?ID=27145" target="_blank" class="button outline-white-button">Purchase</a></p>
                </div>
                <div class="superhero-content">
                    <h1>PGSS Paper</h1>
                    <p>Comparing Human and Machine Perception of Facial Stimuli through Analysis of EEG Responses to Model Metamers </p>
                    <p class="chia-cta"><a href="https://decrypt.co/104049/chia-aims-take-ethereum-solana-nfts-will-they-blossom" class="button outline-white-button">Read</a></p>
                </div>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('.chia-slides').slick({
        arrows: false,
        autoplay: true,
        autoplaySpeed: 8000,
        cssEase: 'linear',
        dots: true,
        fade: true,
        infinite: true,
        pauseOnHover: false,
        speed: 500,
    });
</script>


<div class="white-bg content-padding">
    <div class="col-10-container">
        <div class="download-extras">
            <div class="download-extra-option soft-shadow">
                <h3> Journal #2 </h3>
                <p>
                <p><a class="button primary-button" href="/CV">Volume 41, Class of 2026</a></p>
                <!-- <p class="chia-cta"><a href="/approach" class="button outline-black-button">Learn More</a></p> -->
                </p>
                <p>
                    Watch <a href="https://youtu.be/9P0vaux2h6o" target="_blank">replay on Youtube</a>.
                </p>
            </div>

            <div class="download-extra-option soft-shadow">
                <h3>My Adventures On SkyRealms</h3>
                <p>
                    When: Feb 12, 2021 10:00 AM Pacific Time (US and Canada)
                </p>
                <p>
                    Watch <a href="https://youtu.be/2uvlop-hlio" target="_blank">replay on Youtube</a>.
                </p>
            </div>
        </div>
    </div>
</div>




<div class="white-bg content-padding">
    <div class="col-10-container">
        <div class="download-extras">
            <div class="download-extra-option soft-shadow">
                <h3> PGSS Paper </h3>
                <p>
                <p><a class="button primary-button" href="/CV">Volume 41, Class of 2026</a></p>
                <!-- <p class="chia-cta"><a href="/approach" class="button outline-black-button">Learn More</a></p> -->
                </p>
                <p>
                    Watch <a href="https://youtu.be/9P0vaux2h6o" target="_blank">replay on Youtube</a>.
                </p>
            </div>

            <div class="download-extra-option soft-shadow">
                <h3>Temp</h3>
                <p>
                    When: Feb 12, 2021 10:00 AM Pacific Time (US and Canada)
                </p>
                <p>
                    Watch <a href="https://youtu.be/2uvlop-hlio" target="_blank">replay on Youtube</a>.
                </p>
            </div>
        </div>
    </div>
</div>





</div>
